@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;900&family=Roboto:wght@400;500;900&display=swap');

body {
  font-family: 'Roboto';
}

textarea,
input {
  font-family: 'Roboto';
}

.rotate-infinite {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
